---
import BasicLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BasicLayout pageTitle={frontmatter.title}>
  <p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-4 h-4"
      style="width: 16px; height: 16px;"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5"
      ></path>
    </svg>
    {frontmatter.pubDate.slice(0, 10)}
  </p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BasicLayout>
<style>
 
  .tags {
    margin: 0.5em 0;
  }

  .tag {
    margin: 0.15em;
    border-radius: 0.4em;
    padding: 0.1em 0em;
    font-size: 1em;
    display: inline-block;
    padding: 0.3rem;
    color: rgb(0, 0, 0);
    background-color: #5bfbd0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  .tag a {
    color: #000000;
    text-decoration: none !important;
  }
  .tag a:visited {
    color: #000000;
    text-decoration: none !important;
  }
  a:hover {
  text-decoration: none; 
  color: #000000 !important;
  }

</style>
