---
import BasicLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BasicLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>

  <p>Written by {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <slot />
</BasicLayout>
<style>
  a {
    color: #3d3939;
    text-decoration: none;
    font-family: monospace;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .tag {
    margin: 0.15em;
    /* border-radius: 0.8em; */
    padding: 0.1em 0em;
    font-size: 1.03em;
    display: inline-block;
    padding: 0.5rem;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    background-color: #ffa7c4;
    position: relative;
  }

  .tag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .tag:hover::before {
    opacity: 0.5;
  }

  .tag:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 8px #000000;
  }
  .tag a {
    color: #000000;
  }
</style>
